@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

/* You can add global styles to this file, and also import other style files */
div.card-header {
 font-size: large;
 background-color: rgb(241, 180, 104);
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: bisque;
  background-image: url('src/assets/images/green hills1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
